@import url('https://fonts.googleapis.com/css?family=Inter');
@import url("https://fonts.googleapis.com/css?family=Mochiy Pop One");
@import url("https://fonts.googleapis.com/css?family=Roboto");


/* /----------------------------Header/ */

#file {
  display: none;
}

#preview {
  border-radius: 5px;
  position: absolute;
}

.art {
  margin: auto;
  width: 80%;
  color: #8C97A4;
  padding: 7px;
}

.upload-photo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 163px;
  height: 160px;
  border-radius: 5px;
  background-color: #8BC7FF;
  margin-bottom: 20px;
  position: relative;
}

.fa-upload {
  cursor: pointer;
  z-index: -1;
}

/* Logo */
.logo img {
  display: block;
  margin: 10px auto;
  cursor: pointer;
}

.div-text {
  padding: 10px;
  width: 80%;
  margin: auto;
  color: #8C97A4;
  font-family: Roboto;
  font-weight: 400;
}

hr {
  width: 80%;
}

/* /---------  --------------form/ */
form {
  font-family: 'Inter';
  width: 80%;
  margin: auto;
}
.upload-photo:hover #preview{
  position: relative;
  transform: scale(0.9);
}

label {
  display: block;
  color: #1375E4;
  font-size: 20px;
  margin-top: 15px;
  margin-bottom: 8px;
  font-family: 'inter';
}

input {
  width: 90%;
  display: block;
  border: 1px solid #8BC7FF;
  font-weight: 400;
  padding: 0 12px 0 12px;
}

input[type="text"],
input[type="email"],
input[type="number"] {
  font-size: 18px;
  height: 34px;
  border-radius: 8px;
}

::placeholder {
  color: #8BC7FF;
}

#upload-input {
  border: none;
  outline: none;
}

@media (min-width:768px) {
  form {
    display: grid;
    grid-template-columns: repeat(7 1fr);
    grid-template-rows: repeat(2 1fr);
    font-family: 'Inter';
    width: 80%;
    margin: auto;
  }

  .name-div {
    grid-area: 1/ 1/ 2/ 7;
  }

  .email-div {
    grid-area: 2/ 1/ 3/ 5;
  }

  .number-div {
    grid-area: 2/ 5/ 3/ 7;
  }

  .school-div {
    grid-area: 3/1/ 4/ 7;
  }

  .add-div {
    grid-area: 4/ 1/ 5/ 7;
  }

  .state-div {
    grid-area: 5/ 1/ 6/ 4;
  }

  .city-div {
    grid-area: 5/ 4/ 6/ 5;
  }

  .pin-div {
    grid-area: 5/ 6/ 6/ 7;
  }

  #state {
    width: 83%;
  }

  #number {
    width: 100%;
  }

  #city {
    width: 84%;

  }

  #pincode {
    width: 100%;

  }

  #name {
    width: 100%;
  }

  #school {
    width: 100%;
  }

  #address {
    width: 100%;
  }

}

.proceed {
  width: 80%;
  display: flex;
  flex-direction: row-reverse;
  margin: auto;
  margin-top: 30px;
}

.front {
  display: block;
  padding: 12px 30px;
  border-radius: 12px;
  font-size: 1.2rem;
  background: #59CDFF;
  font-family: 'Mochiy Pop One';
  text-shadow: 0px 1px 0px #367DCA;
  color: white;
  transform: translateY(-6px);
}

.pushable {
  width: 100%;
  margin: auto;
  background: #1375E4;
  border-radius: 12px;
  border: none;
  padding: 0;
  cursor: pointer;
  outline-offset: 4px;
}

.pushable:active .front {
  transform: translateY(-2px);
}

.fas {
  color: red;
}

.sapne-waali {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sapne-waali a {
  font-family: 'Mochiy Pop One';
  color: #1375E4;
  margin-top: 5%;
  font-size: 18px;
}